/* Common CSS Styles */
* {
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary-color: #FF5400;
}

body {
    margin: 0 5rem;
}

.button-primary {
    color: #FFFFFF;
    background-color: var(--primary-color);
    border-radius: 8px;
    border: 0px;
    cursor: pointer;
}

/* Header Section Styles */
/* Navbar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.site-title > img {
    width: 2rem;
    height: 2rem;
}

nav > ul {
    display: flex;
}

nav a {
    color: #424247;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

.title-perfect {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.title-holiday {
    color: var(--primary-color);
    font-size: 2.25rem;
    font-weight: 800;
}

/* Header Banner Styles */
.header-banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/header-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
}

.banner-title {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.banner-description {
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    line-height: 1.5rem;
}

.find-container {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 0.8rem;
    margin: 4rem;
}

.find-now {
    color: rgba(19, 19, 24, 0.50);
    border-radius: 8px;
    background: #FFFFFF;
    margin-right: 1rem;
    margin-left: 1rem;
}

.find-now input {
    font-size: 1.15rem;
    border: 0px;
    border-radius: 8px;
    width: 5rem;
    height: 0.25rem;
}

.find-now select {
    font-size: 1.15rem;
    border: 0px;
    border-radius: 8px;
    padding: 0.8rem;
    width: 13rem;
    cursor: pointer;
}

.find-now button {
    font-size: 1.15rem;
    padding: 0.8rem 3rem;
}

/* Popular Section Styles */
.popular-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;
}

.popular-content {
    padding: 1rem;
}

.popular-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.25rem;
}

.popular-description {
    color: rgba(19, 19, 24, 0.70);
    line-height: 1.5rem;
    text-align: justify;
}

.popular-description > li {
    padding-bottom: 0.75rem;
}

.popular-img > img {
    width: 25rem;
    height: 25rem;
}

.popular-item-btn {
    padding: 1rem 2rem;
    font-weight: 600;
}

/* Destination Section Styles */
.destination-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-weight: 600;
    line-height: 1.5rem;
    margin-top: -1rem;
    margin-bottom: 3rem;
}

.destination-img-section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.destination-img-section-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 1rem;

}

.destination-img-section-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

.travel-img-text-1 {
    position: absolute;
    transform: translate(15rem, 8rem);
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
}

.travel-img-text-2 {
    position: absolute;
    transform: translate(8rem, 8rem);
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
}

.travel-img-text-3 {
    position: absolute;
    transform: translate(10rem, 8rem);
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Why Choose Us Styles */
.why-choose-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}

.why-choose-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.why-choose-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    gap: 2rem;
}

.hotel-section-content,
.price-section-content {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 1.25rem;
}

.service-section-content {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 1.25rem;
}

.choose-section-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.choose-section-description {
    color: #5A5A5D;
    line-height: 1.5rem;
    padding-top: -2rem;
}

/* Deals Section Styles */
.deals-title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 100px;
}

.deals-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

.deals-content-common {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    width: 30rem;
    height: 20rem;
    padding: 1rem;
    position: relative;
    top: 4rem;
    left: 35rem;
}

.deals-img-content-first {
    background-image: url("../images/deals-content-1.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 30rem;
    margin-bottom: 1rem;
}

.deals-img-content-second {
    background-image: url("../images/deals-content-2.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 30rem;
    margin-bottom: 1rem;
}

.deals-img-content-third {
    background-image: url("../images/deals-content-1.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 30rem;
}

.deals-icon {
    color: var(--primary-color);
}

.deals-btn {
    padding: 0.5rem 1rem;
}

/* Video Section Styles */
.video-container {
    display: flex;
    gap: 5rem;
    margin-top: 4rem;
    padding: 1rem;
}

.video-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.video-description {
    color: #5A5A5D;
    padding-bottom: 1rem;
    line-height: 1.5rem;
}

.video-btn {
    padding: 0.75rem 2.25rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.video-box {
    position: relative;
    transform: scale(1.25) translateY(5rem);
}

.video-link>img {
    width: 100%;
}

.video-content ul>li {
    padding-bottom: 2rem;
    line-height: 1.5rem;
}

.video-text {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    top: 5rem;
    left: 5rem;
}

.video-icons {
    display: flex;
    justify-content: space-between;
    /* gap: 18rem; */
    transform: translateY(-5rem);
    margin-left: 2rem;
    margin-right: 2rem;
}

.icons-left {
    display: flex;
    gap: 1rem;
}

.icons-right {
    display: flex;
    gap: 1rem;
}

.video-time {
    color: #FFFFFF;
    transform: translateY(-1.2rem);
}

.fa-pause, .fa-volume-xmark,
.fa-expand, .fa-ellipsis-vertical {
    color: #FFFFFF;
}

.video-border-1 {
    border-bottom: 3px solid rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    width: 24rem;
    position: absolute;
    top: 16rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.video-border-2 {
    border-bottom: 2.5px solid #FFFFFF;
    border-radius: 8px;
    width: 8rem;
    position: absolute;
    top: 16rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Newsletter Styles */
.newsletter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
}

.newsletter-content {
    border-radius: 1rem;
    border: 2px solid var(--primary-color);
    padding: 1.5rem;
}

.news-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.news-description {
    color: #5A5A5D;
    margin-bottom: 3rem;
}

input[type="text"],
input[type="email"] {
    border-radius: 8px;
    border: 0px;
    color: rgba(19, 19, 24, 0.30);
    background: rgba(19, 19, 24, 0.05);
    padding: 1rem 6rem;
    margin-bottom: 1rem;
}

input[type="submit"] {
    border-radius: 8px;
    border: 0px;
    color: #FFFFFF;
    background: var(--primary-color);
    padding: 1rem 9rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.news-img {
    transform: translateY(2.5rem);
}

.news-img>img {
    width: 100%;
    height: 28rem;
}

.discount {
    border-radius: 8px;
    border: 0px;
    color: #FFFFFF;
    padding: 1rem;
    background: var(--primary-color);
    transform: translateX(32rem) translateY(-9rem) rotate(-40deg);
}

.discount .web-url {
    font-size: 1rem;
}

.discount .percentage {
    font-size: 1.5rem;
    font-weight: 700;
}

/* Customer Reviews Styles */
.reviews-section-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin-top: 3rem;
}

.customer-reviews-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.customer-reviews-content {
    color: #FFFFFF;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}

.customer-reviews-name {
    display: flex;
    gap: 4rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.reviews-quotes {
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* Footer Section Styles */
.footer-container {
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 5rem;
    padding-bottom: 1rem;
}

footer .site-title {
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 2rem;
}

footer .site-title>img {
    width: 2rem;
    height: 2rem;
    align-items: center;
    margin-top: 0.75rem;
}

footer .title-perfect {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

footer .site-description {
    margin: -2rem 10rem 2rem;
}

footer .title-holiday {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 800;
}

.site-description {
    text-align: center;
}

.social-links {
    text-align: center;
    padding: 1.25rem;
}

.social-links>a {
    margin-right: 1.25rem;
}

.copyright {
    font-weight: 600;
}

/* Responsive Design */
/* Small Devices (Landscape Phones, 576px and up) Styles */
@media screen and (max-width:576px) {
    body {
        margin: 0rem;
    }

    nav,
    nav > ul {
        flex-direction: column;
        gap: 1rem;
    }

    .banner-title {
        font-size: 2rem;
        padding-bottom: 2rem;
    }

    .banner-description {
        font-size: 1.125rem;
        padding: 1rem;
        margin-top: -3rem;
    }

    .find-container {
        margin: 2rem 3rem;
    }

    .find-now input {
        width: 6rem;
    }

    .find-now select {
        width: 18rem;
    }

    .popular-img > img {
        width: 100%;
        height: 100%;
    }

    .why-choose-section {
        grid-template-columns: repeat(1, 1fr);
        margin: 1rem;

    }

    .newsletter-container {
        flex-direction: column;
    }

    .destination-img-section-1,
    .destination-img-section-2,
    .destination-img-section-3 {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .travel-img img {
        width: 100%;
        height: 100%;
    }

    .popular-container,
    .find-container,
    .video-container {
        flex-direction: column;
        gap: 1rem;
    }

    .video-box {
        transform: scale(1) translateY(4rem);
        margin-top: -2rem;
        margin-bottom: 4rem;
    }

    .video-text {
        top: 5rem;
        left: 5rem;
    }

    .video-border-1 {
        width: 23rem;
    }

    .deals-content-common {
        width: 18rem;
        height: 18rem;
        padding: 1rem;
        top: 8rem;
        left: 4rem;
    }

    .newsletter-container {
        margin: 3rem 1rem;
        gap: 1.5rem;
    }

    .news-img {
        transform: translateY(0rem);
    }

    .news-img>img {
        width: 100%;
        height: 20rem;
    }

    .discount {
        transform: translateX(11.5rem) translateY(-9rem) rotate(-40deg);
    }

    .customer-reviews-section {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin: 1rem;
    }

    .section-title-small {
        font-size: 2rem;
    }

    footer .site-description {
        margin: -2rem 2rem 2rem;
    }

}

/* Medium Devices (Tablets, 768px and up) Styles */
@media screen and (min-width: 576px) and (max-width: 768px) {

    .customer-reviews-section {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.25rem;
        margin: 1rem;
    }

    footer .site-description {
        margin: -2rem 4rem 2rem;
    }
}

/* Large Devices (Desktops, 992px and up) Styles */
@media screen and (min-width: 768px) and (max-width: 992px) {
    footer .site-description {
        margin: -2rem 6rem 2rem;
    }
}