/* Common CSS Styles */
* {
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary-color: #FF5400;
}

body {
    margin: 0 100px;
}

.button-primary {
    color: #FFFFFF;
    background-color: var(--primary-color);
    border-radius: 8px;
    border: 0px;
    cursor: pointer;
}

/* Header Section Styles */
/* Navbar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.site-title>img {
    width: 2rem;
    height: 2rem;
}

nav>ul {
    display: flex;
}

nav a {
    color: #424247;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

.title-perfect {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.title-holiday {
    color: var(--primary-color);
    font-size: 2.25rem;
    font-weight: 800;
}

/* Header Banner Styles */
.header-banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/header-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.banner-title {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
}

.banner-description {
    color: #FFFFFF;
    text-align: center;
    margin-top: 0.5rem;
}

.find-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 0.8rem;
    margin: 4rem 2rem;


}

.find-now {
    color: rgba(19, 19, 24, 0.50);
    border-radius: 8px;
    background: #FFFFFF;
    margin-right: 3rem;
}

.find-now input {
    font-size: 1.15rem;
    border: 0px;
    border-radius: 8px;
    padding: 0.8rem;
}

.find-now select {
    font-size: 1.15rem;
    border: 0px;
    border-radius: 8px;
    padding: 0.8rem;
    cursor: pointer;
}

.find-now button {
    font-size: 1.15rem;
    padding: 0.8rem 3rem;
}

/* Popular Section Styles */
.popular-container {
    display: flex;
    gap: 50px;
    margin-top: 100px;
}

.popular-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.popular-description {
    color: rgba(19, 19, 24, 0.70);
}

.popular-img img {
    width: 400px;
    height: 400px;
}

/* Destination Section Styles */
.destination-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 3rem;
}

.destination-img-section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
}

.destination-img-section-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 1rem;

}

.destination-img-section-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.travel-img-text-1 {
    position: absolute;
    transform: translate(15rem, 8rem);
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
}

.travel-img-text-2 {
    position: absolute;
    transform: translate(8rem, 8rem);
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
}

.travel-img-text-3 {
    position: absolute;
    transform: translate(10rem, 8rem);
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Why Choose Us Styles */
.why-choose-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}

.why-choose-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.hotel-section-content, .price-section-content {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.service-section-content {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose-section-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.choose-section-description {
    color: #5A5A5D;
    line-height: 1.5rem;
    padding-top: -2rem;
}

/* Deals Section Styles */
.deals-title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 100px;
}

.deals-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

.deals-content-common {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    width: 30rem;
    height: 20rem;
    padding: 1rem;
    position: relative;
    top: 4rem;
    left: 35rem;

}

.deals-img-content-first {
    background-image: url("../images/deals-content-1.png");
    width: 100%;
    height: 30rem;
}

.deals-img-content-second {
    background-image: url("../images/deals-content-2.png");
    width: 100%;
    height: 30rem;
}

.deals-img-content-third {
    background-image: url("../images/deals-content-1.png");
    width: 100%;
    height: 30rem;
}

.fa-solid {
    color: var(--primary-color);
}

/* Video Section Styles */
.video-container {
    display: flex;
    gap: 4rem;
    margin-top: 100px;
}

.video-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.video-description {
    color: #5A5A5D;
    padding-bottom: 1rem;

}

.video-btn {
    padding: 0.75rem 2.25rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.video-container ul>li {
    padding-bottom: 1rem;
}

/* Newsletter Styles */
.newsletter-container {
    display: flex;
    gap: 4rem;
    margin-top: 100px;
}

.newsletter-content {
    border-radius: 1rem;
    border: 2px solid var(--primary-color);
    padding: 1rem;
}

.news-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.news-description {
    color: #5A5A5D;
    margin-bottom: 3rem;
}

input[type="text"],
input[type="email"] {
    border-radius: 8px;
    border: 0px;
    color: rgba(19, 19, 24, 0.30);
    background: rgba(19, 19, 24, 0.05);
    padding: 1rem 6rem;
    margin-bottom: 1rem;
}

input[type="submit"] {
    border-radius: 8px;
    border: 0px;
    color: #FFFFFF;
    background: var(--primary-color);
    padding: 1rem 9rem;
}

.new-img {
    width: 100%;
}

.discount {
    border-radius: 8px;
    border: 0px;
    color: #FFFFFF;
    padding: 1rem;
    background: var(--primary-color);
    transform: translateX(28.8rem) translateY(-9rem) rotate(-40deg);
}

.discount .web-url {
    font-size: 1rem;
}

.discount .percentage {
    font-size: 1.5rem;
    font-weight: 700;
}

/* Footer Section Styles */
.footer-container {
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 6rem;
    padding-bottom: 1rem;
}

footer .site-title {
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 2rem;
}

footer .site-title>img {
    width: 2rem;
    height: 2rem;
    align-items: center;
    margin-top: 0.75rem;
}

footer .title-perfect {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

footer .site-description {
    margin: -2rem 10rem 2rem;
}

footer .title-holiday {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 800;
}

.site-description {
    text-align: center;
}

.social-links {
    text-align: center;
    padding: 20px;
}

.social-links>a {
    margin-right: 20px;
}